<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <main id="content">
      <section class="cover">
        <h1>
          {{ title }}
        </h1>
        <div class="intro">
          {{ content | safe }}
        </div>
      </section>
      {% for text in collections.text | reverse %}
        <section class="text">
          <div class="text-info">
            <h2>
              {{ text.data.title }}
            </h2>
            <cite>
              <span class="text-author">
                {{ text.data.author }}
              </span>
              
              <span class="text-source">
                <a href="{{ text.data.source.url }}">source</a>
              </span>
            </cite>
          </div>

          {{ text.templateContent | safe }}
          
          <br>
        </section>
      {% endfor %}
    </main>
    <script src="/index.js"></script>
  </body>
</html>