@font-face {
  font-family: "Garamon(d/t)";
  src: url("/Garamondt-Regular.woff") format("woff");
}

@font-face {
  font-family: "Garamon(d/t)";
  font-style: italic;
  src: url("/Garamondt-Italic.woff") format("woff");
}

body {
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.4;
}

h1 {
  font-size: 48pt;
  line-height: 1;
  text-align: center;
  font-family: 'Garamon(d/t)', serif;
  font-weight: 400;
}

h2 {
  margin-top: 2pt;
  font-weight: inherit;
  text-align: center;
  font-size: 16pt;
  line-height: 1.3;
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
}

img { 
  max-width: 100%;
  height: auto;
  max-height: 320pt;
  object-fit: cover;
  width: 100%;
  display: block;
}

a:link,
a:visited {
  color: inherit;
  background-color: yellow;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  background-color: blue;
  color: white;
}

cite {
  text-align: center;
  font-style: inherit;
  font-family: 'Garamon(d/t)', serif;
  margin: 16pt 0 24pt;
  display: block;
}

.📖-running-header {
  right: var(--bindery-margin-outer);
  left: var(--bindery-margin-inner);
}

.📖-running-header  .header {
  text-align: center;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
 
.text-source {
  display: block;
  margin-top: .25em;
}

.text-author {
  font-style: italic;
}

p:first-child {
  margin-top: 0;
}

figure {
  margin: 0 0 16pt 0;
}

figcaption { 
  margin: 8pt 0 0 0;
  font-size: 8pt;
  line-height: 1.2;
  font-family: 'Garamon(d/t)', serif;
}